@charset "UTF-8";

  @font-face {
    font-family: SEGOEUI;
    src: url("../font/SEGOEUI.ttf");
  }

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: : center;
}

body{
  font-family: SEGOEUI;
  text-align: center;
  background-color: #EBEBE0;
}
    h1{
      font-size: 3em;
      text-align: center;
    }
    .navigation{
      font-size: :medium ;
      text-align: center;
      background-color: #63B4C9;
      margin: 30px 0px;
    }
  li{
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-size: medium;
  }

      a:link{
        text-decoration: none;
        color: #FFFFFF;
      }

      a:visited{
        text-decoration: none;
        color: #FFFFFF;
      }
      a:hover{
        text-decoration: none;
        color:#FFFFFF;
      }
      a:active{
        text-decoration: none;
        color: #FFFFFF;
      }


  p{
    font-size:medium;}

    img{display: block;
      margin-left: auto;
      margin-right: auto;
    }

  .bodyImage{
        width: 100%;
      }


   .flex_container{
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin:30px auto;
  padding:30px;
  width:70%;
background-color: #C5BCAB;
  }

  .flex_container > div{
  background-color: #FFFFFF;
  margin: 10px;
  padding:20px;
  text-align: center;
  border: 1px solid #4C3639;
  width: 50%; }

  .flex_container >div>img{
  width: 100%;}

  footer{
  font-size:medium ;
  text-align: center;
  margin: 30px;
  }
